.StarWars {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
}

.HomePage {
    display: grid;
    text-align: center;
    grid-template-columns: auto;
}

.Ship {
    display: grid;
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    font-size: 5px;
    align-content: center;
    text-align: center;
}

.StarshipColumn {
    display: grid;
    justify-content: center;
}

.StarShip {
    width: 200px;
    margin-top: 35px;
    border: 2px solid black;
}
