body {
	background: url('https://wallpaperaccess.com/full/11794.png') no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 auto;
}

.fleet {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	text-align: center;
	padding-top: 20px;
}

.shipbox {
	border-radius: 10px;
	border: 5px black solid;
	color: white;
}

.abandonShip {
	color: rgb(255, 215, 0);
	font-weight: bold;
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
}

.shipbox2 {
	padding-top: 20px;
}
.fleetdeetz {
	border-radius: 10px;
	border: 5px black solid;
	color: white;
}

.headerForce {
	background: black;
	color: rgb(255, 215, 0);
	display: flex;
	justify-content: center;
	text-align: center;
}

.footerForce {
	background: black;
	color: rgb(255, 215, 0);
	position: fixed;
	padding: 10px 10px 0px 10px;
	bottom: 0;
	width: 100%;
	/* Height of the footer*/
	height: 40px;
	text-align: center;
}
